.container {
  display: flex;
}
.App {
  margin: 5% 20%;
}
header {
  font-size: 28px;
  font-weight: bold;
  margin: 22px 16px;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 3px;
  cursor: pointer;
}
