.stockloader-smallLoader {
  width: 25%;
  height: 17px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #f3f4f7 10%, #e4e4e4 52%, #f3f4f7 100%)
    repeat scroll 0 0;
  filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f7', endColorstr='#e4e4e4', GradientType=0)";
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
}

.stockloader-bigLoader {
  height: 40px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #f3f4f7 10%, #e4e4e4 52%, #f3f4f7 100%)
    repeat scroll 0 0;
  filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f7', endColorstr='#e4e4e4', GradientType=0)";
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
}
